*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.facultyHomeBody{
    color: #000;
}

.navbarC{
    height: 100vh;
    width: 179px;
    position: fixed;
    border-right: 2px solid rgb(238, 238, 241);
    background-color:  #fff;
    z-index: 2;
}

.navbarC > img {
    padding-top: 25px;
    padding-bottom: 50px;
    margin: 0 auto;
}

.navbarC > ul > li{
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.3em;
}

.navbarC > ul > li > p{
    margin-left: 7px;
}

.activeOp{
    border-left: 6px solid orange;
    font-weight: 600;
    background-color: rgb(235, 235, 235);
}

@media screen and (max-width: 845px) {
    .navbarC{
        display: none;
    }
}

.fH_FocusPage{
    position: relative;
    left: 179px;
    width: calc(100vw - 196px);
    background-color: #fff;
}

.fH_head{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: end;
    border-bottom: 1px solid #000;
}

.fH_headUser{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-size: 2em;
}

.optionsCont{
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    column-gap: 20px;
    row-gap: 20px;
    justify-items: center;
}

@media screen and (max-width: 1220px) {
    .optionsCont{
        grid-template-columns: 1fr 1fr;
    }
}

.fCard {
    width: 300px;
    border-radius: 8px;
    box-shadow: 0 7px 8px rgba(0, 0, 0, 0.1);
}

.fcard-content {
    padding: 16px;
}

.fcard-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 8px;
}


.fbutton {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 16px;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 845px) {
    .fH_FocusPage{
        position: static;
        width: 100vw;
    }
}

@media screen and (max-width: 700px) {
    .optionsCont{
        grid-template-columns: 1fr;
    }
}