.bootcontainer {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .bootcontainer {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .bootcontainer {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .bootcontainer {
      width: 1170px;
    }
  }

.setBackgroundImageCampus{
    background-image: url("../../../images/LoginSignup/campus.jpg") 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}